# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Imprima a frase **"Eu sou Minerador de Dados!"**

In [1]:
print ("Eu sou Minerador de Dados")

Eu sou Minerador de Dados

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [65]:
# soma
10+10

20

In [66]:
# subtração
10-10

0

In [67]:
# multiplicação
10*10

100

In [68]:
# divisão
10/10

1.0

3) Imprima o tipo de um determinado do valor **10**.

In [7]:
type(10)

int

4) Converta o valor passado anteriormente para o tipo **float**

In [8]:
float(10)

10.0

5) Faça a conversão do valor float recebido anteriormente para o tipo **string**

In [9]:
str(10.0)

'10.0'

6) Utilizando variáveis faça:
- a) Defina uma variável com o **seu nome** e imprima o seu valor.
- b) Imprima o **tipo** dessa variável.
- c) Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, **Felipe Santana**.
- d) Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [61]:
# Defina uma variável com o seu nome e imprima o seu valor.
nome = 'Willian'
print(nome)

Willian

In [62]:
# Imprima o tipo dessa variável.
type(nome)

str

In [63]:
# Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
#  obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
nome = nome + ' Silvano Maria'
print(nome)

Willian Silvano Maria

In [64]:
# Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.
email, idade = 'willsilvano@gmail.com', 28
print(email, idade)

willsilvano@gmail.com 28

7) Utilizando funções de arredonamento faça:
- a) Arredonde o valor 2.898
- b) Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [59]:
# Arredonde o valor 2.898
round(2.898)

3

In [60]:
# Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais
round(2.4545455, 4)

2.4545

9) Sobre os objetos Strings, faça:
- a) Defina uma variavel com a string: "Python é uma maldição!" e imprima
- b) Imprima o primeiro caracter da variavel.
- c) Imprima os valores do primeiro caracter até o 6.
- d) Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- e) Faça uma contagem de quantas vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
    - Obs: Crie uma variável chamada "frase" com a frase acima.
- f) Substitua o primeiro caracter da frase acima para maiúsculo
- g) Quebre as palavras da frase separado por virgula, criando uma lista.

In [51]:
# Defina uma variavel com a string: "Python é uma maldição!" e imprima
frase = "Python é uma maldição!"
print(frase)

Python é uma maldição!

In [52]:
# Imprima o primeiro caracter da variavel.
print(frase[0])

P

In [53]:
# Imprima os valores do primeiro caracter até o 6.
print(frase[0:6])

Python

In [54]:
# Faça a contagem de todos os caracteres utilizando uma única linha de comando.
print(frase.count(''))

23

In [56]:
# Faça uma contagem de quantas vezes a palavra dados aparece na seguinte frase:
#  "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
#  Obs: Crie uma variável chamada "frase" com a frase acima.
frase = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
frase.count('dados')

2

In [57]:
# Substitua o primeiro caracter da frase acima para maiúsculo
frase.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados..'

In [58]:
# Quebre as palavras da frase separado por virgula, criando uma lista.
frase.split(',')

['dados é o novo petróleo',
 ' em Deus eu confio',
 ' para o resto me traga dados..']

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**