# Mentoria Evolution - Python para Data Science

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* As celular aceitam comandos python e já executam um "print" automáticamente.

## Mentoria Evolution - Aula 2

### Estruturas de Dados - Listas ###

** Sintaxe: nome = [elementos] **

In [2]:
idades = [25,38,18,47]

In [3]:
type(idades)

list

In [4]:
endereco = ['Rua dos Fulanos, Belo Horizonte.',2500]

In [5]:
endereco

['Rua dos Fulanos, Belo Horizonte.', 2500]

- Acessando elementos

In [6]:
rua  = endereco[0]

In [7]:
rua

'Rua dos Fulanos, Belo Horizonte.'

In [8]:
numero  = endereco[1]

In [9]:
print(rua,numero)

Rua dos Fulanos, Belo Horizonte. 2500

- Atualizando elementos

In [10]:
endereco[1] = 2750

In [13]:
endereco

['Rua dos Fulanos, Belo Horizonte.', 2750]

In [14]:
endereco[1] = 2750
numero  = endereco[1]
print(rua,numero)

Rua dos Fulanos, Belo Horizonte. 2750

- Operações com Listas

In [15]:
nomes = ['Felipe','Joao','Maria']

In [16]:
nomes

['Felipe', 'Joao', 'Maria']

- Contando elementos

In [17]:
len(nomes)

3

- Verificando elementos

In [18]:
'Felipe' in nomes

True

- Valores máximo e mínimo

In [19]:
max(nomes)

'Maria'

In [20]:
min(nomes)

'Felipe'

- Concatenando listas

In [21]:
nomes

['Felipe', 'Joao', 'Maria']

In [22]:
nomes + ['Jose','Carla']

['Felipe', 'Joao', 'Maria', 'Jose', 'Carla']

In [23]:
nomes = nomes + ['Jose','Carla']

In [24]:
print(nomes)

['Felipe', 'Joao', 'Maria', 'Jose', 'Carla']

- Adiciona novos elementos

In [25]:
nomes.append('Marcelo')

In [26]:
nomes

['Felipe', 'Joao', 'Maria', 'Jose', 'Carla', 'Marcelo']

- Índice de um determinado elemento

In [27]:
nomes.index('Joao')

1

- Removendo um elemento

In [28]:
nomes.remove('Marcelo')

In [29]:
nomes

['Felipe', 'Joao', 'Maria', 'Jose', 'Carla']

- Contando elementos

In [30]:
nomes.count('Joao')

1

- Ordenando elementos

In [31]:
nomes.sort(reverse=True)

In [32]:
print(nomes)

['Maria', 'Jose', 'Joao', 'Felipe', 'Carla']

### Estruturas de Dados - Dicionários ###

- Objeto do tipo Chave e Valor
- Sintaxe: nome = {'chave':'valor'}

In [33]:
dic = {'nome':'Rodrigo'}

In [34]:
pessoas = {
'Felipe':30, 'Fulana':18, 'Maria':55, 'Jose':80, 
'valores':[1,3.5,400,5,6],
'pesos':{'Felipe':68,'Fulana':55}
}

In [35]:
pessoas

{'Felipe': 30,
 'Fulana': 18,
 'Maria': 55,
 'Jose': 80,
 'valores': [1, 3.5, 400, 5, 6],
 'pesos': {'Felipe': 68, 'Fulana': 55}}

- Acessando o valor a partir de uma chave

In [36]:
pessoas['Jose']

80

In [37]:
pessoas['pesos']

{'Felipe': 68, 'Fulana': 55}

- Dicionario Aninhado

In [38]:
pessoas = {
'Felipe': {'Idade':30,'Cidade':'Belo Horizonte','Peso':65},
'valores':[1,3.5,400,5,6],
}

In [39]:
pessoas

{'Felipe': {'Idade': 30, 'Cidade': 'Belo Horizonte', 'Peso': 65},
 'valores': [1, 3.5, 400, 5, 6]}

In [40]:
pessoas['Felipe']['Cidade']

'Belo Horizonte'

In [41]:
pessoas['Felipe']['Peso']

65

In [42]:
Cadastro_pessoas = {
'Clientes': {'Cliente_01': {'Nome':'Rodrigo',
                            'Idade':30,
                            'Cidade':'Belo Horizonte',
                            'Peso':65
                           },
             'Cliente_02': {'Nome': 'Felipe',
                            'e-mail': 'felipe10@gmail.com'   
                           },
            },
'valores':[1,3.5,400,5,6]}

In [43]:
Cadastro_pessoas['Clientes']['Cliente_01']['Cidade']

'Belo Horizonte'

In [44]:
Cadastro_pessoas['Clientes']['Cliente_02']

{'Nome': 'Felipe', 'e-mail': 'felipe10@gmail.com'}

**Métodos**

- keys() – Retorna as chaves do dicionário

In [45]:
pessoas

{'Felipe': {'Idade': 30, 'Cidade': 'Belo Horizonte', 'Peso': 65},
 'valores': [1, 3.5, 400, 5, 6]}

In [46]:
pessoas.keys()

dict_keys(['Felipe', 'valores'])

- values() - Retorna os valores do dicionário

In [47]:
pessoas.values()

dict_values([{'Idade': 30, 'Cidade': 'Belo Horizonte', 'Peso': 65}, [1, 3.5, 400, 5, 6]])

- get() – Retorna o valor de uma determinada chave senão existir retorna o valor passado como parâmetro

In [48]:
pessoas.get('Juca','Não existe')

'Não existe'

- setdefault() - Retorna o valor da chave caso ela exista, senão inseri a chave e o valor no dicionário

In [49]:
pessoas.setdefault('Felipe',40)

{'Idade': 30, 'Cidade': 'Belo Horizonte', 'Peso': 65}

In [50]:
pessoas

{'Felipe': {'Idade': 30, 'Cidade': 'Belo Horizonte', 'Peso': 65},
 'valores': [1, 3.5, 400, 5, 6]}

In [51]:
pessoas.setdefault('Marcos',30)

30

- items() – Retorna itens e valores

In [52]:
pessoas.items()

dict_items([('Felipe', {'Idade': 30, 'Cidade': 'Belo Horizonte', 'Peso': 65}), ('valores', [1, 3.5, 400, 5, 6]), ('Marcos', 30)])

- clear() – Limpa o objeto dicionário

In [53]:
pessoas.clear()

In [54]:
pessoas

{}

### Estruturas Condicionais e Loops ###

**Controles de fluxo**

**Sintaxe**<br>
**if <condição>:** 
>**instruções**

In [55]:
if 1 > 10:
    print('O numero 10 é maior que 1')

**Sintaxe**<br>
**if <condição>:** 
>**instruções**

**else:**
>**instruções**

In [56]:
x=1
y=10

if x > y:
    print("O numero em X é maior que Y")
else:
    print('O numero em Y é maior que X')

O numero em Y é maior que X

**Trabalhando com loops FOR**

** Sintaxe: for <variável> in <condição>: instruções **

- Loop em elementos de uma lista

In [57]:
for i in [1,2,3,4,5]:
    print ("Valor: %s" %i)
    print (i + 2)

Valor: 1
3
Valor: 2
4
Valor: 3
5
Valor: 4
6
Valor: 5
7

- Loop em elementos de uma string

In [58]:
for c in "Python é uma linguagem de programação":
    print (c)

P
y
t
h
o
n

é

u
m
a

l
i
n
g
u
a
g
e
m

d
e

p
r
o
g
r
a
m
a
ç
ã
o

**Loops FOR aninhados**

**Sintaxe**<br>
**for <variável> in <condição>:** 
>**instruções**<br>
>**for <variável> in <condição>:**
>>**instruções**

In [59]:
for i in ['1a Fase','2a Fase','3a Fase']:
    print (i)
    for y in ['manha','tarde','noite']:
        print (y)
    print(' ')

1a Fase
manha
tarde
noite

2a Fase
manha
tarde
noite

3a Fase
manha
tarde
noite

**Loops com While**

**Sintaxe**<br>
**while <condição>: **
>**instruções**

In [60]:
i = 0
while i < 10:
    print (i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

**Loops while com instrução else**

**Sintaxe**<br>
**while <condição>:**
>**instruções**

**else:**
>**instruções**

In [61]:
i = 0
while i < 10:
    print (i)
    i = i + 1
else:
    print("Numero é maior ou igual a 10")

0
1
2
3
4
5
6
7
8
9
Numero é maior ou igual a 10

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**