# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?

In [1]:
# Sim, por exemplo:

In [2]:
['Willian', 28, 3.14]

['Willian', 28, 3.14]

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [36]:
# 2.a) Cria uma lista de valores inteiros com o nome e idades.
idades = [10, 15, 18, 25, 30, 40]

In [37]:
# 2.b) Imprima apenas segundo elemento da lista.
idades[1]

15

In [38]:
# 2.c) Imprima a quantidade de elementos da lista.
len(idades)

6

In [39]:
# 2.d) Substitua o valor do segundo elemento da lista e imprima o resultado.
idades[1] = 16
idades

[10, 16, 18, 25, 30, 40]

In [40]:
# 2.e) Imprima apenas os valores do segundo elemento em diante.
idades[1:]

[16, 18, 25, 30, 40]

In [41]:
# 2.f) Remova qualquer elemento da lista e imprima o resultado.
idades.remove(16)
idades

[10, 18, 25, 30, 40]

In [42]:
# 2.g) Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
salarios = [900,1200,1500,800,12587,10000]

In [43]:
# 2.h) Verifique se contém o valor 10000 na lista de salarios.
10000 in salarios

True

In [44]:
# 2.i) Imprima o menor e maior valor da lista.
print('Mínimo: {} e Máximo: {}'.format(min(salarios),max(salarios)))

Mínimo: 800 e Máximo: 12587

In [45]:
# 2.j) Adicione o valor 7000 a lista.
salarios.append(7000)
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000]

In [46]:
# 2.l) Extenda a lista com dois novos elementos utilizando apenas um método.
salarios.extend([100, 5000])
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 100, 5000]

In [48]:
# 2.m) Imprima o índice do elemento de valor 800 da lista de salarios.
salarios.index(800)

3

In [51]:
# 2.n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.
salarios.sort()
print('Ordem crescente', salarios)
salarios.sort(reverse=True)
print('Ordem decrescente', salarios)

Ordem crescente [100, 800, 900, 1200, 1500, 5000, 7000, 10000, 12587]
Ordem decrescente [12587, 10000, 7000, 5000, 1500, 1200, 900, 800, 100]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [52]:
# 3.a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo: pessoas = {'Rodrigo':30, 'Fulana':18}
pessoas = {'Rodrigo':30, 'Fulana':18}

In [53]:
# 3.b) Imprima a idade da pessoa "Fulana"
pessoas['Fulana']

18

In [54]:
# 3.c) Imprima as Chaves do dicionario criado anteriormente.
pessoas.keys()

dict_keys(['Rodrigo', 'Fulana'])

In [55]:
# 3.d) Imprima os valores das chaves do dicionário
pessoas.values()

dict_values([30, 18])

In [56]:
# 3.e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())
pessoas.setdefault('Felipe', 30)

30

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [57]:
# 4.a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
if 5 > 1:
    print('5 é maior que 1')

5 é maior que 1

In [59]:
# 4.b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
#      Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
x1, y1 = 15, 10

if x1 > y1:
    print('x1 é maior que y1')
else:
    print('y1 é maior que x1')

x1 é maior que y1

In [60]:
# 4.c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na 
#      tela multiplicados por 2.
valores = [2,3,4,5,6,7]

for valor in valores:
    print('{} * 2 = {}'.format(valor, valor*2))

2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**