# Mentoria Evolution - Python para Data Science

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* As celular aceitam comandos python e já executam um "print" automáticamente.

In [1]:
print("Hello World!")

Hello World!

**Console interativo**

In [2]:
"Hello World"

'Hello World'

In [3]:
print (2+2)

4

**Operações Básicas**

In [4]:
# esse é um comentario
2+2

4

In [5]:
# Divisão
2 / 2

1.0

In [6]:
# Multiplicação
print (2 * 6)

12

In [7]:
# Subtração
print(2-2)

0

**Trabalhando com variáveis**

In [8]:
nome = "Minerando Dados"

In [9]:
nome

'Minerando Dados'

In [10]:
print (nome)

Minerando Dados

- Atribuição de flexível

In [11]:
a,b,c = 5,10,15

In [12]:
a,b,c

(5, 10, 15)

In [13]:
b

10

**Funções Built-in**

- type() – Retorna o tipo do objeto

In [14]:
type(5)

int

In [15]:
type(5.1)

float

In [16]:
type("Python é uma maldição!")

str

In [17]:
type(a)

int

**Funções de Conversão**

- int() - Converte um valor passado por parâmetro para inteiro

In [18]:
int(3.14)

3

- float() - Converte um valor passado por parâmetro para float

In [19]:
float(6.5)

6.5

In [20]:
float(6)

6.0

- str() -  Converte um valor passado por parâmetro para string

In [21]:
str(5)

'5'

- list() - Converte um valor passado por parâmetro para uma lista

In [22]:
list('abc')

['a', 'b', 'c']

** Funções de arredondamento **

- round() – Arredonda o valor

In [23]:
round(2.898)

3

- Especificando três casas após a virgula

In [24]:
round(2.4545455,3)

2.455

### Trabalhando com Strings ###

In [25]:
frase = "A maldição do Python"
frase

'A maldição do Python'

** Vector de caracteres, índices inicializam em 0**

**Slicing**

In [26]:
frase[0]

'A'

In [27]:
frase[2]

'm'

In [28]:
frase[0:10]

'A maldição'

In [29]:
frase[14:]

'Python'

**Métodos**

lower() – converte a string para minúsculo

In [30]:
frase.lower()

'a maldição do python'

upper() – converte a string para maiúsculo

In [31]:
frase.upper()

'A MALDIÇÃO DO PYTHON'

capitalize() – converte para apenas o primeiro caractere maiúsculo

In [32]:
frase.capitalize()

'A maldição do python'

islower() – retorna True caso todos os caracteres da string são minúsculos

In [33]:
frase.islower()

False

split() – “quebra”a string em uma lista de caracteres

In [34]:
frase.split()

['A', 'maldição', 'do', 'Python']

count() – Retorna a quantidade de vezes que uma string foi passada por parâmetro

In [35]:
frase.count('Python')

1